<!-- main.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="scanBarcode()">Escanear código de barras</ion-button>
    <ion-button color="danger" (click)="logout()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- ... (encabezado) ... -->
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>Datos del usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Usuario:</ion-label>
          <ion-text>{{ user.user }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ user.name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Apellido:</ion-label>
          <ion-text>{{ user.lastName }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Correo electrónico:</ion-label>
          <ion-text>{{ user.email }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <app-qr-reader></app-qr-reader> <!-- Incluye el componente QrComponent aquí -->

</ion-content>
